#fill {
    height: 75px;
}

#about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem;
    gap: 4.5rem;
    background-color: var(--clr-secondary);
}


#about_us > p {
font-size: 1.4rem;
}

#about_us > h1 {
    font-size: 3rem;
    padding: .5rem 1rem;
    border-bottom: .25rem solid var(--clr-accent);
}

#about_main {
    display: flex;
    flex-direction: column;
    border: none;
}

.about_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about_left, .about_right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 3rem;
    width: 50%;
    font-size: 1.4rem;
}

.about_left > p, .about_right > p {
    padding-top: 3rem;
}

img {
    max-width: 35rem;
    max-height: 35rem;;
}

.darker {
    background-color: var(--clr-secondary);
}