#footer_main {
    justify-content: space-between;
    display: flex;
    padding: 3rem 2rem;
    background: var(--clr-secondary);
}


#footer_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#footer_right {
    display: flex;
    gap: 1rem;
}

#footer_right > .left, #footer_right > .right {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#footer_right > .right {
    border-left: .125rem solid var(--clr-accent);
    padding-left: 1rem;
}

#footer_right a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

#footer_right a:hover {
    color: var(--clr-accent);
}

#footer_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    padding: 1rem 0;
    color: white;
}