
/* Hero section */

#hero {
    position: fixed;
    left: 0;
    top: 100px;
    z-index: -1;
    display: grid;
    place-items: center;
    width: 100%;
    height: 50rem;
    background: url(../images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

#hero::before,
#hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4rem;
    background: url();
    background-size: cover;
    z-index: 2;
  
}

#hero::before {
    left: 0;
}

#hero::after {
    right: 0;
}

#hero>img {
    height: 100%;
    padding: 3rem;
    padding-top: 8rem;
    opacity: .85;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.hero-filler {
    width: 100%;
    opacity: 0;
    height: 50rem;
}


/* About section */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 6rem 3rem;
    background: var(--clr-secondary);
    
}

.about > h1 {
    font-size: 2.5rem;
    padding: .5rem 1rem;
    border-bottom: .25rem solid var(--clr-accent);
}

.about > p {
    font-size: 1.2rem;
    width: 100%;
    max-width: 64rem;
}


/* Products section */

.products {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.products > h1 {
    align-self: center;
    font-size: 2.5rem;
    padding: .5rem 1rem;
    border-bottom: .25rem solid var(--clr-accent);
}

.products > main {
    display: flex;
    gap: 5rem;
    padding: 2rem 3rem;
    overflow-x: auto;
    background: var(--clr-secondary);
}

.tile {
    flex: 0 0 auto;
    height: 30rem;
    width: 23rem;
    background: var(--clr-secondary);
    border: .125rem solid var(--clr-accent);
    border-radius: 2rem;
    box-shadow: 0 0 2rem -.25rem black;
    transition: .125s;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.tile:hover {
    scale: 1.01;
}

.tile > img {
    height: 50%;
    width: 100%;
    background: blue;
}

.content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 600;
}


/* Contact section */

#contact {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contact_form {
    text-align: center;
    display: grid;
    place-items: center;
}

#contact_form>form {
    padding: 3rem 6rem;
    background: var(--clr-primary);
    color: white;
    display: grid;
    width: 100%;
    max-width: 700px;
    gap: 2rem;
    box-shadow: 0 0 2rem -.25rem black;
    border: .125rem solid var(--clr-accent);
    border-radius: 2rem;
}



#contact_form>form>h1 {
    position: relative;
    font-size: 2.5rem;
    border-radius: .25rem;
    z-index: 1;
    padding: .5rem 1rem;
    border-bottom: .25rem solid var(--clr-accent);
    width: fit-content;
    margin: 0 auto;
}


.form-main {
    display: grid;
    gap: 2rem;
    position: relative;
}

.input-div {
    display: grid;
    gap: .5rem;
}

.input-div > label {
    text-align: start;
    font-size: 1.44rem;
}

.form-main input:not([type=checkbox]),
.form-main textarea {
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background: var(--clr-secondary);
    color: white;
    border: 0.125rem solid var(--clr-accent);
    border-radius: 0.6rem;
}

.form-main input:focus,
.form-main textarea:focus {
    outline: none;
}

.form-main textarea {
    height: 12rem;
    font-family: sans-serif;
}

.policy-input {
    display: flex;
    gap: 1rem;
    justify-content: center;
    place-items: center;
    width: fit-content;
    margin: 0 auto;
}

.policy-input > input {
    appearance: none;
    background: var(--clr-secondary);
    margin: 0;

    font: inherit;
    color: var(--clr-secondary);
    width: 1.2rem;
    height: 1.2rem;
    border: .125rem solid var(--clr-secondary);
    outline: .125rem solid var(--clr-accent);
    border-radius: 0.25rem;
    overflow: hidden;
}

.policy-input > input:hover {
    background: #ff3c008e;
}

.policy-input > input:checked {
    background: var(--clr-accent);
}

.policy-input > input:focus {
    outline: .125rem solid var(--clr-accent);
}

.policy-input a {
    color: var(--clr-accent);
}

.policy-input a:hover {
    color: white;
}

.form-main > button {
    margin: 0 auto;
    font-size: 1.2rem;
    padding: .75rem 2rem;
}